*.o
*.tns*
*.elf
*.creator
*.creator.user*
*.files
*.includes
*.config
romdisk
*.o
*.elf
*.wasm
*.a
*.ELF
*.7z
*.wav
*.raw
*.img
*.BIN
cd/*.wav
*.zip
*.TXT
*.txt
*.cdi
*.bin
*.BIN
*.obj
*.d
*.D
*.iso
*.ISO
./bin
*.xbe
*.XBE
*.exe
*.EXE
*.cpp.d
*.c.d
*.s
*.S
